{% extends 'base.html' %}
{% load static %}
{% block title %}{{writing.title}}{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/detailpage.css' %}">
{% endblock css %}
{% block additional-header %}
<meta name="keywords" content="">
<meta name="description" content="{{writing.sub_title}}">
<link rel="canonical" href="https://worldnftfund.com/projectdetail/{{writing.slug}}">
<meta name="og:title" content="{{writing.title}}" />
<meta name="og:description" content="" />
<meta name="og:image" content="https://worldnftfund.com/media/{{writing.photo}}" />
<meta name='og:type' content="website">
<meta name='og:site_name' content="The World NFT Fund">
<meta name='og:url' content="https://worldnftfund.com/projectdetail/{{writing.slug}}">
<meta name="twitter:title" content="{{writing.title}}" />
<meta name="twitter:description" content="" />
<meta name="twitter:image" content="https://worldnftfund.com/media/{{writing.photo}}" />
{% endblock additional-header %}
{% block maincontent %}

    <!-- NAV BAR -->
    <nav>
        <div class="logo">
            <a href="{% url 'home' %}">
                <img src="{% static 'img/logo.png' %}" alt="World Nft Fund Logo">
            </a>
        </div>
        <input type="checkbox" id="click">
        <label for="click" class="menu-btn">
            <i class="fas fa-bars"></i>
        </label>
        <ul>
            <li><a href="{% url 'home' %}">WNF</a></li>
            <li><a href="{% url 'projects' %}">Projects</a></li>
            <li><a class="active" href="{% url 'writings' %}">Writing</a></li>
            <li><a href="{% url 'donations' %}">Donations</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            {% if user.is_authenticated %}
            {% if user.is_superuser %}
            <li><a href="/admin/" target="_blank">Admin</a></li>
            {% endif %}
            {% endif %}
        </ul>
    </nav>
    <!-- NAV BAR -->

    <!-- writing DETAIL CONTENT -->
    <div class="detailcontent">
        <div class="detailcategory">
            <a href="{% url 'writings' %}"><i class="fas fa-chevron-circle-left"></i></a>
            <span>{{writing.category}}</span>
        </div>
        <div class="detailtitle">
            <h1>{{writing.title}}</h1>
        </div>
        <div class="detailsubtitle">
            <p>{{writing.sub_title}}</p>
        </div>
        <div class="detailimage">
            <img src="/media/{{writing.photo}}" alt="">
        </div>
        <div class="detaildetail">
             {{writing.writing_content|safe}}
        </div>
    </div>
    <!-- writing DETAIL CONTENT -->
{% endblock maincontent %}